<a href="https://colab.research.google.com/github/Nalubolasaikoushik/AI-ML-Assignments/blob/main/part-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data=pd.read_excel("AIML.xlsx")
print(data)

          S-ID  STUDENT NAME   AGE    CONTACT
0   2303A52500  P.Sai Shankar   18  9014774913
1   2303A52501          akhil   19  9014774914
2   2303A52502            sai   20  9014774915
3   2303A52503         tanish   21  9014774916
4   2303A52504          rishi   22  9014774917
5   2303A52505           suma   23  9014774918
6   2303A52506        sanketh   24  9014774919
7   2303A52507         vamshi   25  9014774920
8   2303A52508        karthik   19  9014774921
9   2303A52509           rasi   18  9014774922
10  2303A52510          arnav   19  9014774923
11  2303A52511          pavan   20  9014774924
12  2303A52512        sumanth   13  9014774925
13  2303A52513          ramya   14  9014774926
14  2303A52514          shyam   15  9014774927
15  2303A52515            sam   16  9014774928
16  2303A52516       shivani    17  9014774929
17  2303A52517        abhinav   18  9014774930
18  2303A52518         niyazz   19  9014774931

In [ ]:
import pandas as pd
data=pd.read_csv("/content/heart.csv")
print(data)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal  target
0         2   2     3       0
1         0   0     3       0
2         0   0     3       0
3         2   1     3       0
4         1   3     2       0
...     ...  ..   ...     ...
1020      2   0     2       1
1021      1   1     3       0
1022      1   1     2       0
1023      2   0     2       1
1024      1   1     3       0

[1025 rows x 14 columns]

In [ ]:
import pandas as pd
data=pd.read_csv("/content/gamesdata.csv")
print(data)

                                    Game Name       Genre         Platform  \
0                   Sekiro: Shadows Die Twice      Sports  Nintendo Switch
1                                     Control      Puzzle  Nintendo Switch
2                                    Among Us    Strategy  Nintendo Switch
3                Call of Duty: Modern Warfare     Stealth      PlayStation
4                           League of Legends  Simulation               PC
...                                       ...         ...              ...
4995  The Legend of Zelda: Breath of the Wild      Sports               PC
4996                Assassin's Creed Valhalla     Stealth           Mobile
4997             Fall Guys: Ultimate Knockout      Sports           Mobile
4998                            Borderlands 3  Platformer             Xbox
4999         Counter-Strike: Global Offensive      Action      PlayStation

      Release Year  User Rating
0             2014     9.654719
1             2000     3.457386
2             2007     5.367622
3             2005     1.240325
4             2021     3.535476
...            ...          ...
4995          2013     6.352838
4996          2020     1.852730
4997          2021     5.268067
4998          2018     4.558510
4999          2022     3.443231

[5000 rows x 5 columns]